/* DISCOGRAPHY STYLES */

.lp-albums-wrapper{
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

iframe{
   height: 520px;
   margin: 1%;
   padding: 1%;
}

main{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

section{
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-wrap: nowrap;
    margin: auto;
    gap: 2rem;
    border: 15px solid rgb(201, 201, 201);
    border-radius: 15px;
}

.albums-2000-2024{
    display: flex;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    border: 15px solid rgb(129, 118, 112);
}


h1{
    display: flex;
    justify-content: center;
    color: silver;
    border: 4px solid black;
    border-radius: 50px;
    word-spacing: 0.2rem;
    width: 90%;
    margin: auto;
}

h1:hover{
    
}

table{
    display: flex;
    justify-content: center;
    flex: 1 1 300px;
    margin: auto;
    table-layout: fixed;
    border-collapse: collapse;
    max-width: 100%;
    
    
}

th,
td{
   
   padding: 0.2em;
   border: 3px solid black; 

   background-color: #807b70;
   text-align: center;
   

}


p{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    border: 5px solid rgb(46, 73, 50);
    margin: auto;
    font-size: 1.3rem;
    color: antiquewhite;

}

.about-album{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
}

.album-cover{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 80%;
    flex-wrap: wrap;
    margin: auto;
    gap: 1rem;
    max-width: 100%;
    

}
#album-image-ht{
    flex-wrap: wrap;
    flex: 0 1 auto;
    display: flex;
    max-width: 100%;
    /* justify-content: left; */
    margin: auto;
    /* border: 3px solid yellow; */
}
 
img{
    overflow: clip;
    content: inherit;
}

/*IMAGE SLIDER NAV STYLES */

.container{
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.slider-wrapper {
    position: relative;
    max-width: 85%;
    margin: 0 auto;
}

.slider{
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem ;
}
.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;

}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.75rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;

}

.slider-nav a:hover{
    opacity: 1;

}


/* STORYLINE CHESTER */

.grid-container{
    margin: 2rem;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:repeat(2, );
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
    
}

.mike-shinoda{
    margin: 2rem;
    display: grid;
    grid-template-columns:repeat(3, 50%);
    grid-template-rows:repeat(3, 30%);
    grid-column-start: ;
    
}

#chester{
    max-width: 100%;
    padding: 0.5rem;
}

.chester{
    display: flex;
    flex-wrap: wrap;
}

.part-1{
}
.part-2{
   
}

.formation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid black;
}

