

.lp-albums-wrapper{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    
    


}

@media screen (min-width: 375px);{
    
}

iframe{
   height: 520px;
   margin: 1%;
   padding: 1%;
  
   
    
    

}
main{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

section{
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-wrap: nowrap;
    margin: auto;
    gap: 2rem;
    border: 15px solid rgb(201, 201, 201);
    border-radius: 15px;
}

.album-2000{
    display: flex;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    border: 15px solid rgb(129, 118, 112);
    
       
}

.album-2003{
    display: flex;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    border: 15px solid rgb(129, 118, 112);

    
}

.album-2007{
    display: flex;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    border: 15px solid rgb(129, 118, 112);
}

.album-2010{
    display: flex;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    border: 15px solid rgb(129, 118, 112);
}

.album-2012{
    display: flex;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    border: 15px solid rgb(129, 118, 112);
}

.album-2014{
    display: flex;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    border: 15px solid rgb(129, 118, 112);
}

.album-2017{
    display: flex;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    border: 15px solid rgb(129, 118, 112);
}

.album-2024{
    display: flex;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    border: 15px solid rgb(129, 118, 112);
}

h1{
    display: flex;
    justify-content: center;
    color: silver;
    border: 4px solid black;
    border-radius: 50px;
    word-spacing: 0.2rem;
    
    
    
     
}

h1:hover{
    
}

table{
    /* display: flex; */
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    flex: 1 1 300px;
    /* margin: auto; */
    table-layout: fixed;
    border-collapse: collapse;
    border: 5px solid red;
    max-width: 100%;
    /* content: inherit; */
    
    
}

th,
td{
   
   padding: 0.2em;
   border: 3px solid black; 
   background-color: #ffffff;
   text-align: center;
   

}


p{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    border: 5px solid rgb(46, 73, 50);
    margin: auto;
    font-size: 1.5rem;
    color: antiquewhite;

}

.about-album{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.album-cover{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 60%;
    flex-wrap: wrap;
    margin: auto;
    gap: 1rem;
    border: 4px solid rgb(93, 119, 72);
    

}
#album-image-ht{
    flex-wrap: wrap;
    flex: 1 1 auto;
    display: flex;
    max-width: 100%;
    /* justify-content: left; */
    /* margin: auto; */
    /* border: 3px solid yellow; */
}
 
img{
    overflow: clip;
    content: inherit;
}






