/* DISCOGRAPHY STYLES */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    /* font: inherit; */
}
.lp-albums-wrapper{
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

iframe{
   height: 520px;
   margin: 1%;
   padding: 1%;
   border-radius: 50px;
   
}

main{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

section{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-wrap: nowrap;
    margin: auto;
    gap: 1rem;
    border: 15px solid rgb(201, 201, 201);
    border-radius: 15px;
}

.top-title{
    display: flex;
    justify-content: center;
    border-bottom: 22px double white;
    border-right: 12px double black;
    border-left: 12px double white;
    border-top: 22px double black;
    padding: 1em;
    margin: 2rem;
}



.albums-2000-2024{
    display: flex;
    width: 93%;
    margin: auto;
    flex-wrap: wrap;
    gap: 2em;
    
}


.album-title{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    border: 10px groove gray;
    margin: 1rem auto;
    padding: 1rem;
    border-style: groove;
    border-radius: 50px;
    background-color: rgb(17, 16, 16);
    color: white; 
}
.album-par{
    display: flex;
    flex: 1 1 auto;
    font-weight:500;
    justify-content: center;
    flex-wrap: wrap;
    border: 10px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 0.5rem ;
    color: #000000;
    background-color: rgb(187, 186, 185);
}


h1:hover{
    transform: scaleX(0.7);
    transition: ease-in-out,  4s;

}

h1:hover{
    
}

table{
    flex: 1 1 auto;
    table-layout: auto;
    border-collapse: collapse;
    max-width: inherit;
    
    
}

th,
td{
   color: #000000;
   padding: 0.2em;
   border: 3px solid rgb(8, 8, 8); 
   font-weight: 800;

   background-color: #444444;
   text-align: center;
   

}


.about-album{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
}

.album-cover{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 80%;
    flex-wrap: wrap;
    margin: auto;
    gap: 2rem;
    max-width: 100%;
    

}
#album-image-ht{
    flex-wrap: nowrap;
    flex: 0 1 auto;
    display: flex;
    max-width: inherit;
    margin: auto;
}
#album-image-mt{
    flex-wrap: nowrap;
    flex: 0 1 auto;
    display: flex;
    max-width: inherit;
    margin: auto;
}
#album-image-mtm{
    flex-wrap: nowrap;
    flex: 0 1 auto;
    display: flex;
    max-width: inherit;
    margin: auto;
}
#album-image-ats{
    flex-wrap: nowrap;
    flex: 0 1 auto;
    display: flex;
    max-width: inherit;
    margin: auto;
}
#album-image-lt{
    flex-wrap: nowrap;
    flex: 0 1 auto;
    display: flex;
    max-width: inherit;
    margin: auto;
}
#album-image-thp{
    flex-wrap: nowrap;
    flex: 0 1 auto;
    display: flex;
    max-width: inherit;
    margin: auto;
}
#album-image-oml{
    flex-wrap: nowrap;
    flex: 0 1 auto;
    display: flex;
    max-width: inherit;
    margin: auto;
}
#album-image-fz{
    flex-wrap: nowrap;
    flex: 0 1 auto;
    display: flex;
    max-width: inherit;
    margin: auto;
}

 
img{
    overflow: clip;
    content: inherit;
    border-radius: 50px;
    
}
/* STORYLINE STYLES */

.storyline-title{
display: flex;
flex-wrap: wrap;
justify-content: center;
border-bottom: 15px double silver ;
border-right: 15px double #fff;

}

.story-lp{
    display: flex;
    justify-content: center;
    padding: 2rem;
    border: 8px solid lightgray;
    background-color: rgb(155, 168, 179);
    border-radius: 50px;
    width: 100%;
    margin: auto;
    margin-bottom: 2rem;

}



section{
    width: 87%;
}

.formation{
    display: grid;
    grid-template-columns:  repeat(1fr,auto-fill);
    border: 5px double #807b70;
    border-radius: 50px;
    padding: 0.5em;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: fit-content;
    margin: auto;
    
}
.formation-par{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 5px solid silver;
    border-radius: 50px;
    padding: 1.5em;

    background-color: rgb(155, 168, 179);
    font-weight: 700;
    
}

.members-title{
    display: flex;
    justify-content: center;
    border-radius: 50px;
    border: 10px double  silver;
    width:fit-content;
    margin: auto;
    padding: 1em;
    background-color: bisque;
    
}

.members-about{
    display: flex;
    width: fit-content;
    margin: auto;
    border: 10px double  silver;
    background-color: bisque;
    padding: 1em;

}
/*IMAGE SLIDER NAV STYLES */

.container {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.slider-wrapper {
    position: relative;
    max-width: 85%;
    margin: 0 auto;
}

.slider{
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem ;
}
.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;

}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.75rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;

}

.slider-nav a:hover{
    opacity: 1;

}


/* Events styles */
.event-tables{
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
    font-size: 1px;
    max-width:fit-content;
}
