
/* HEADER AND NAVIGATION STYLE */

.page-wrapper{ 
    display: flex; 
    flex-direction: column;
    width: 95%;
    margin: auto;
    background-color: #494545;
}

header{

  position: sticky;
  top: 0;
}



.img-home-btn-area{
    display: flex;
    justify-items: left;    
    width: fit-content;
    
   
}

ul{
    margin: auto;
    display: flex;
}

ul li {
    display: flex;
    position: relative;
    line-height: 2.1rem;
    text-align: left;
}

ul li a{
    padding: 10px 20px 0px 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 50px;
}

ul li a:hover{
    color: rgb(255, 255, 255);
    background-color: #9eaeb4;
    opacity: 100%;
}

 img{
    
    border-style: none;
    
 }

   /* HAMBURGER MENU */
#menu__toggle{
    opacity: 0;
}
#menu__toggle:checked + .manu-btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #ff0000;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: fit-content;
  margin: 0;
  padding: 120px 50px;
  list-style: none;
  background-color: #bbbbbb;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .35s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .55s;
}
.menu__item:hover {
  background-color: #9eaeb4;
}

/* END OF HEADER STYLES */



/* FOOTER STYLES */

.footer-wrapper{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    flex: 1 1 auto;
    justify-content: center;
    margin: auto;
}

.question{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    color: rgb(255, 255, 255);
    font-weight: 900;
}
.question:hover{
    transition: 1s ease-in-out;
    transform: scale(1.3);
}

/* CONTACT US ICON STYLES */

.footer-icon-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: right;
    flex-wrap: wrap;
    max-width: fit-content;
    padding: 1.5rem;
    margin: 3rem;
    gap: 1rem;
    border: 5px ridge;
    border-radius: 50px;
}
.email-icon:hover{
    transition: 1s ease;
    transform: rotate(360deg);   
}
.phone-icon:hover{
    transition: 1s ease;
    transform: rotate(360deg);
    
}
.facebook-icon:hover{
    transition: 1s ease;
    transform: rotate(360deg);
    
}
.instagram-icon:hover{
    transition: 1s ease;
    transform: rotate(360deg);
    
}
.tiktok-icon:hover{
    transition: 1s ease;
    transform: rotate(360deg);  
}
.twitter-icon:hover{
    transition: 1s ease;
    transform: rotate(360deg);  
}
.footer-page-name{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1 1 auto;
    flex-wrap: wrap;
    padding: 2rem;
    height: fit-content;
    border-top: 3px dashed #000000;
    border-bottom:3px dashed whitesmoke;
    border-left: 3px double whitesmoke;
    border-right: 3px double rgb(0, 0, 0);
    
}
.footer-disclaimer{
    display: flex;
    padding: 2rem;
    border: 10px solid rgb(255, 255, 255);
    border-radius: 20px;
    color: #000000;
    background-color: rgb(187, 186, 185);
    margin: 1rem;
    width: 45%;
    height: fit-content;

}
.lp-fans{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
}


    /* END OF FOOTER STYLES */