.page-wrapper{
    width: 90%;
    margin: auto;
    border: 1px solid red;
}

.header-banner{
    background-image: url(/assets/images/linkin-park-banner.png);
    background-size: 86% 100%;
    background-repeat: no-repeat;
    background-position: 16vh;
    padding: auto;
}







    