.page-wrapper{
    width: 85%;
    margin: auto;
    border: 1px solid red;
}

.header-banner{
    display: block;
    height: auto;
    align-content: center;
    background-image: url(/assets/images/banner.jpg);
    background-size: 100%;
    

}





    