
/* HEADER AND NAVIGATION STYLE */

.page-wrapper{
    width: 90%;
    margin: auto;
    border: 1px solid red;
    background-color: #1e1f20;

}

.header-banner{
    background-image: url(../assets/images/linkin-park-banner.png);
    background-size: 86% 100%;
    background-repeat: no-repeat;
    background-position: right;
    border-bottom: 5px solid silver;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    

}

ul{
    margin: auto;
    list-style: none; 
    display: flex;
    justify-content: left;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 1.6rem;
}
ul li {
    display: flex;
    position: relative;
    line-height: 2.5rem;
    text-align: left;
}
ul li a{
    display: flex;
    justify-content: left;
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 100px;
}
ul li a:hover{
    color: rgb(255, 255, 255);
    background-color: #4b4b4b;
    opacity: 100%;
}
 img{
    
    border-style: none;
    
 }

@media screen (min-width: 720px);{
    
}

.nav-menu{
    
}







    