ul{
    margin: auto;
    list-style: none; 
    display: flex;
    justify-content: left;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 1.6rem;
}
ul li {
    display: flex;
    position: relative;
    line-height: 2.5rem;
    text-align: left;
}
ul li a{
    display: flex;
    justify-content: left;
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 100px;
}
ul li a:hover{
    color: rgb(255, 255, 255);
    background-color: #4b4b4b;
    opacity: 100%;
}
 img{
    
    border-style: none;
    
 }





    
  