ul{
    margin: auto;
    list-style: none; 
    display: flex;
    justify-content: center;
    
    
       

}
ul li {
    display: inline-block;
    position: relative;
    line-height: 30px;
    text-align: left;

}
ul li a{
    display: flex;
    justify-content: center;
    
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    border-radius: 100px;
    
}
ul li a:hover{
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    opacity: 50%;

}
ul li ul.dropdown {
    width: 336px;
    background: #ffffff;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
    

}
ul li:hover ul.dropdown{
    display: block;
    padding: 0;
    background-color: transparent;
}
ul li ul.dropdown li{
    display: block;
}

    
  .navmenu{
    display: flex;
    justify-content: center;
  }  